<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="/admin-pannel/css/font-face.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/admin-pannel/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/admin-pannel/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/admin-pannel/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/admin-pannel/css/theme.css" rel="stylesheet" media="all">
    
    <!-- Main Content css -->
    <link href="/admin-pannel/css/admin-datashow.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="/admin-pannel/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Add Question paper</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Add Notes</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Add Syllabus</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Add New Course</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Add New Branch</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Add Year</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Add Semester</a>
                            
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/admin-pannel/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="/admin">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                            </ul>
                        </li>
                         <li>
                            <a href="/admin/addquestion">
                                <i class="fas fa-chart-bar"></i>Add Question paper</a>
                        </li>
                       
                        <li>
                            <a href="/admin/addnotes">
                                <i class="fas fa-chart-bar"></i>Add Notes</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Add Syllabus</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Add new Course</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Add new Branch</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Add new year</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Add Semester</a>
                        </li>
    				</ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity">1</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have 2 news message</p>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/admin-pannel/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6>Michelle Moreno</h6>
                                                    <p>Have sent a photo</p>
                                                    <span class="time">3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/admin-pannel/images/icon/avatar-04.jpg" alt="Diane Myers" />
                                                </div>
                                                <div class="content">
                                                    <h6>Diane Myers</h6>
                                                    <p>You are now connected on message</p>
                                                    <span class="time">Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">1</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/admin-pannel/images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/admin-pannel/images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="/admin-pannel/images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">See all emails</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/admin-pannel/images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"><span th:text="${USER}"></span></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/admin-pannel/images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#"><span th:text="${USER}"></span></a>
                                                    </h5>
                                                    <span class="email" th:text="${EMAIL}"></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                               
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            
            <div th:switch="${CONTANT}">
            <div th:case="DATASHOW">
            <div style="margin-top:100px;margin-left: 80px">
            <table class="usertable" style="height:auto;width:800px">
            <thead>
            <tr >
            	<th>S No.</th>
            	<th>Name</th>
            	<th>Email</th>
            	<th>Access</th>
            	<th>Action</th>
            </tr>
            <tr th:each="user: ${userList}">
            	<td th:text="${user.id}"></td>
            	<td th:text="${user.name}"></td>
            	<td th:text="${user.emailid}"></td>
            	<td th:text="User"></td>
            	<td> <button>Edit</button>  <button>Delete</button></td>
            </thead>
            <tbody>
            
            </tbody>           
            
            </table>
            </div>
            </div>
            <div th:case="QUESTION">
            
            	<div class="addquestion" style="margin-top: 80px; margin-left: 60px">
            	
            		<form action="/admin/uploaded" method="post" enctype="multipart/form-data">
            		<table style="align-self: center; height: 400px; width: 700px" >
            		<tr>
            			<td>Course</td>
            			<td> <select id="course" name="course">
            				<option>B tech</option>
            			</select>  </td>
            		</tr>
            		<tr>
            			<td>Branch</td>
            			<td> <select id="branch" name="branch">
            				<option>CSE</option>
            			</select>  </td>
            		</tr>
            		<tr>
            			<td>Semester</td>
            			<td> <select name="semester" id="semester">
            				<option>1</option>
            				<option>2</option>
            				<option>3</option>
            				<option>4</option>
            				<option>5</option>
            				<option>6</option>
            				<option>7</option>
            				<option>8</option>
            			</select>  </td>
            		</tr>
            		<tr>
            			<td>Subject</td>
            			<td> <input type="text" id="subject" name="subject" />  </td>
            		</tr>
            		<tr>
            			<td>Topic</td>
            			<td> <input type="text" id="topic" name="topic" />   </td>
            		</tr>
            		
            		<tr>
            		<td>Add File</td>
            		<td><input type="file"  id="files" name="files" value="Select File" >
            		
            		<tr>
            		<td colspan="2">
            		<input type="submit" name="submit" value="Add" style="width:30px">
            		</td>
            			</tr>
            		</table>            		
            		</form>
          
            	</div>
            
            </div>
            
            <div th:case="NOTES">
            
            
            </div>
            </div>
            
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/admin-pannel/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/admin-pannel/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/admin-pannel/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/admin-pannel/vendor/slick/slick.min.js">
    </script>
    <script src="/admin-pannel/vendor/wow/wow.min.js"></script>
    <script src="/admin-pannel/vendor/animsition/animsition.min.js"></script>
    <script src="/admin-pannel/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/admin-pannel/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/admin-pannel/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/admin-pannel/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/admin-pannel/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/admin-pannel/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/admin-pannel/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/admin-pannel/js/main.js"></script>

</body>

</html>
<!-- end document-->
