<!-- 
    Document   : questionpaper
    Created on : Aug 25, 2019, 4:33:46 PM
    Author     : JARVIS
-->



<!--  
    String ConnectionURL = "jdbc:mysql://localhost:3306/questionforall";
    Connection connection = null;
    PreparedStatement statement = null;
    ResultSet rs = null; 
PreparedStatement statement1 = null;
    ResultSet rs1 = null; 

    
    
    -->
<!DOCTYPE html>
<html>
<head>
	<title>Question paper</title>
	<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap/js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--Start of Tawk.to Script-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5d18dc497a48df6da242412a/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 40%;
  background-color: #000; 
      
}

th,td {
  padding: 15px;
  color: red;
}
 select {
        width:auto;
 }
 .button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<!--End of Tawk.to Script-->
<body>
            
<div class="container-fluid box">
  <br>
  <div class="container-fluid">
  <h1 style="color: white;">Question4All</h1>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="active" href="/" ><i class="fa fa-fw fa-home"></i> HOME</a></li>
      <li class="active"><a href="#">QUESTION PAPER</a></li>
      <li><a href="#">NOTES</a></li>
       <li><a href="#">SYLLABUS</a></li>
        <li><a href="#">GOLD</a></li>
        <li><a href="contactus.html"><i class="fa fa-fw fa-envelope"></i> CONTACT US</a></li>
        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> ABOUT US</a></li>
   
<li><form class="navbar-form navbar-left" action="/action_page.php">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
</li>
   </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin"><span class="glyphicon glyphicon-user"></span> Admin Dashboard</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>

  </div>
</nav>

  <table >
    
      <tr>
        <td>Semester</td>
        <td><select>
             
        </select></td>
        
      </tr>
      
      <tr>
        <td>Course</td>
        <td><select>
             
                
                
                
                
            </select></td>
       </tr>
      
       <tr>
        <td>Branch</td>
       <td><select>
            
        </select></td>
       </tr>
      
       <tr>
        <td>Subject</td>
         <td><select>
             
        </select></td>
       </tr>
      
      

  </table>
    
        <input type="submit" value="Download Pdf" class="button">
    
  
  
</div>
  <div class="footer">
  <p>© 2019 Copyright: Developed by harsh shahi</p>
</div>
</body>
</html>